<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.ArticlesDao">
    <resultMap id="articlesList" type="Bean.Articles">
        <id property="uid" column="uid"></id>
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="author" column="author"></result>
        <result property="catalog" column="catalog"></result>
        <result property="tag" column="tag"></result>
        <result property="comment" column="comment"></result>
        <result property="date" column="date"></result>
    </resultMap>

    <!--/*主页预加载查找文章*/-->
    <select id="findAllArticles" resultMap="articlesList">
        SELECT id,title,content,author,catalog,tag,comment,date FROM blog_articles limit 0,2;
    </select>

    <!--根据文章页数显示文章-->
    <select id="findArticlesByPageNum" parameterType="Bean.ArticlePage" resultMap="articlesList">
        SELECT id,title,content,author,catalog,tag,comment,date FROM blog_articles limit #{minpage},#{maxpage};
    </select>

</mapper>